
body {
    --minecraft-color: rgb(87, 178, 255);
    --roblox-color: rgb(44, 206, 23);
    --fortnite-color: rgb(0, 79, 180);
    --coding-color: rgb(38, 180, 20);
    --hardware-color: rgb(73, 73, 73);
    --video-color: rgb(255, 154, 200);

    --project-stop-color: white;
    --background-color: black;
    --font-color: white;
    --background-color: #f6f6f6;
    --background-color: rgb(245,245,245);

    --font-color: #333333;
    --background-color-alphed: rgba(255,255,255,.7);
    --7-9-color: red;
    --9-11-color: blue;
    --12-14-color: green;
    background-color: var(--background-color);
    font-family: Helvetica;
    color: var(--font-color);

    --button-shadow: 4px 4px 2px rgba(0,0,0,.5);
    --button-shadow-pressed: 2px 2px 1px rgba(0,0,0,.6);
    --button-shadow-selected: 2px 2px 1px rgba(0,0,0,.3) inset;
    /*//, 2px 2px 0px rgba(0,0,0,.05) inset;*/
    --button-shadow-inverse: 0px -3px 10px rgba(0,0,0,.3);
    --floating-shadow: -1px -1px 5px 0 rgba(0, 0, 0, .5);
    --project-stop-shadow:  -2px -2px 0px rgba(0, 0, 0, 0.15) inset;
    --season-stop-shadow: -3px -3px 0px rgba(0, 0, 0, 0.15) inset;
    --subway-icon-shadow: -6px -6px 0px rgba(0, 0, 0, 0.15) inset;


    --highlight-color: white;
    --faded-color: #ccc;

}

.track-details {
    display: none;
}


#container {

}

.subway-icon {
    display: flex;
    justify-content: center;
    /*align-content: center;*/
    width: 60px;
    height: 60px;
    border-radius: 100%;
    font-size: 66px;
    background-color: rgb(255, 61, 61);
    box-shadow: -4px -4px 0px rgba(0, 0, 0, 0.15) inset;
    flex-shrink: 0;
    /*flex-grow:3;*/
    color: white;
    font-weight: 900;
    line-height: 100px;
}

.first-track {

    /*margin-top:40px;*/
    /*border: solid;*/
    /*border-color: #666666;*/
    /*border-width: 2px;*/
    z-index: 100;

}

#minecraft-track .color-text {
    color: var(--minecraft-color);
}
#roblox-track .color-text {
    color: var(--roblox-color);
}
#fortnite-track .color-text {
    color: var(--fortnite-color);

}
#coding-track .color-text {
    color: var(--coding-color);

}
#hardware-track .color-text {
    color: var(--hardware-color);

}
#video-track .color-text {
    color:var(--video-color);
}

#minecraft-track .color {
    background-color: var(--minecraft-color);
    --season-stop-color: var(--minecraft-color);
    --stop-outline-color: var(--minecraft-color);
    color:white;

}


#minecraft-track .color {
    background-color: var(--minecraft-color);
    --season-stop-color: var(--minecraft-color);
    --stop-outline-color: var(--minecraft-color);
    color:white;

}
#roblox-track .color {
    background-color: var(--roblox-color);
    --season-stop-color: var(--roblox-color);
    --stop-outline-color: var(--roblox-color);
    color:white;
}
#fortnite-track .color {
    background-color: var(--fortnite-color);
    --season-stop-color: var(--fortnite-color);
    --stop-outline-color: var(--fortnite-color);
    color:white;

}
#coding-track .color {
    background-color: var(--coding-color);
    --season-stop-color: var(--coding-color);
    --stop-outline-color: var(--coding-color);
    color:white;

}
#hardware-track .color {
    background-color: var(--hardware-color);
    --season-stop-color: var(--hardware-color);
    --stop-outline-color: var(--hardware-color);
    color:white;

}
#video-track .color {
    background-color: var(--video-color);
    --season-stop-color: var(--video-color);
    --stop-outline-color: var(--video-color);
    color:white;

}

#minecraft-track .color {
    background-color: var(--minecraft-color);
    --season-stop-color: var(--minecraft-color);
    --stop-outline-color: var(--minecraft-color);
    color:white;

}
.roblox-track.color {
    background-color: var(--roblox-color);
    --season-stop-color: var(--roblox-color);
    --stop-outline-color: var(--roblox-color);
    color:white;

}
.fortnite-track.color {
    background-color: var(--fortnite-color);
    --season-stop-color: var(--fortnite-color);
    --stop-outline-color: var(--fortnite-color);
    color:white;

}
.coding-track.color {
    background-color: var(--coding-color);
    --season-stop-color: var(--coding-color);
    --stop-outline-color: var(--coding-color);
    color:white;

}
.hardware-track.color {
    background-color: var(--hardware-color);
    --season-stop-color: var(--hardware-color);
    --stop-outline-color: var(--hardware-color);
    color:white;

}
.video-track.color {
    background-color: var(--video-color);
    --season-stop-color: var(--video-color);
    --stop-outline-color: var(--video-color);
    color:white;

}


#roblox-track {
    /*background-color: #e9e9e9;*/
}
#demo-track .color {
    background-color: #999;
    --season-stop-color:  #999;
    --stop-outline-color: #999;
}


.subway-icon div {
    /*width:auto;*/
    /*height:auto;*/
    /*margin: auto;*/
}

.track-name {
    display: flex;
    align-content: flex-start;
    justify-content: flex-start;
    height:100%;
    width:85%;
    margin-left:0px;
    flex-grow: .5;

}
.track-info {
    width:100%;
    display: flex;
    justify-content: center;
    align-content: center;
    /*height:150px;*/
}
.track-photo {
    width:30%;
    /*background-color: #666666;*/
    margin: 0px 15px 0px 15px;
    min-height: 120px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /*max-height: 500px;*/

}
.track-details {
    width:30%;
    margin: auto;
    justify-content: center;
    align-content: center;
}

.track-label {
    /*display: flex;*/
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-left:20px;
    font-size:22px;
    line-height: 24px;
    font-weight: 600;
    height: 100%;
    /*text-align: center;*/

}

.track-label-description {
    font-size:65%;
    /*font-weight: normal;*/
    line-height: 140%;
    /*margin-top:15px;*/
    padding-bottom:5px;
    padding-top: 5px;
    font-weight: 100;
    text-align: justify;

}

.track-label div {
    /*width:auto;*/
    /*height:auto;*/
    /*margin: auto;*/
}

.track {
    /*display: flex;*/
    /*justify-content: flex-start;*/
    /*align-content: flex-start;*/
    height:40px;
    width: 100%;
    margin-top:30px;
    margin-left: 50px;
}
.track-line {
    /*display: flex;*/
    /*justify-content: flex-start;*/
    /*align-content: center;*/
    height:10px;
    border-radius: 10px;
    width: 90%;
    position: relative;
}
.season-labels {
    display: flex;
    justify-content: space-around;
    width:90%;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: -12px;
    font-size: 14px;
    font-weight: 200;
}
.full-track {
    display: flex;
    justify-content: space-around;
    width:90%;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: -1px;
    font-size: 14px;
    font-weight: 200;
}
.season-name {
    color: #666;
    margin:auto;
    width: 100%;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #999;
    text-align: left;
    margin-left: 50px;
    margin-right: 20px;
    padding-bottom: 5px;

}

.season-start {

    border-radius: 100%;
    background-color: var(--season-stop-color);
    display: block;
    position: absolute;
    top:-13px;
    width: 35px;
    height: 35px;
    border: 3px solid var(--stop-outline-color);
    box-shadow: var(--season-stop-shadow), -5px 0 0px var(--background-color);

}

.project-start {
    width: 21px;
    height: 21px;
    border-radius: 100%;
    background-color: var(--project-stop-color);
    display: block;
    position: absolute;
    top:-5px;
    border: 3px solid var(--stop-outline-color);
    box-shadow:var(--project-stop-shadow)

}

.project-name {
    transform: rotate(45deg);
    font-size: 14px;
    white-space: nowrap;
    text-align: left;
    transform-origin: bottom;
    margin-top:15px;
    margin-left:3px;
    font-weight: 500;
    line-height: 90%;
    margin-bottom: auto;

    /*background-color: white;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*text-shadow:*/
    /*-1px -1px 0 var(--background-color-alphed),*/
    /*1px -1px 0 var(--background-color-alphed),*/
    /*-1px 1px 0 var(--background-color-alphed),*/
    /*1px 1px 0 var(--background-color-alphed);*/
}
.project-name.mini-course {
    margin-top: 20px;
    margin-left:-10px;
    font-size: 75%;
    line-height: 80%;
}
/*.season-name {*/
/*font-size: 18px;*/
/*white-space: nowrap;*/
/*text-align: center;*/
/*margin-top:-19px;*/
/*margin-left:9px;*/
/*font-weight: 500;*/
/*line-height: 95%;*/
/*}*/
.tag-section  {
    display: flex;
    flex-direction: row;
    font-size: 13px;
    align-content: flex-start;
    justify-content: space-between;
    width: 100%;
    /*flex-wrap: wrap;*/
    margin: auto;
    padding-bottom:4px;
    font-weight: 400;
    height: auto;
}
.skills-section {
    /*width: 50%;*/
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
    flex-wrap: wrap;
}
.options-section {
    /*margin: auto;*/
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    align-content: flex-start;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.skills-section {
    /*width: 50%;*/
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-content: flex-start;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.list-of-skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.list-of-skills div {
    align-content: flex-start;
    /*justify-content: flex-start;*/
    flex-grow:.11;
    height:18px;
    width: auto;
    line-height: 19px;
    /*margin:8px 8px 0px 0px;*/
    background-color: orange;
    color:white;
    padding: 0px 10px 0px 10px;
    border-radius: 10px;
    /*flex-grow: 1;*/
    text-align: center;
    font-weight: 100;
    /*box-shadow: var(--button-shadow-pressed);*/
    /*border-style:solid;*/
    border-width: 1px;
    border-color: #999;
    /*filter: brightness(1.15);*/
    box-shadow: var(--project-stop-shadow);
    margin:auto;

}


.list-of-skills.roblox-color .skill {
    background-color: var(--roblox-color);
}
.list-of-skills.fortnite-color .skill {
    background-color: var(--fortnite-color);
}
.list-of-skills.minecraft-color .skill {
    background-color: var(--minecraft-color);
}
.list-of-skills.video-color .skill {
    background-color: var(--video-color);
}
.list-of-skills.coding-color .skill {
    background-color: var(--coding-color);
}
.list-of-skills.hardware-color .skill {
    background-color: var(--hardware-color);
}
.location {
    display: flex;
    flex-direction: column;
    /*padding-left: 30px;*/
    /*padding-right: 30px;*/
    /*width: 100%;*/

}
.ages-tags {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    width: 100%;
    font-size:90%;
}
.age-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    font-size: 90%;

}
.age-group div{
    border-style: none none solid none;
    border-width: 1px;
}
.age{
    width: 100%;
    padding-left:5px;
    padding-right: 5px;
}
.age-title {
    width: 100%;
    padding-left:3px;
    padding-right:3px;
    font-weight: 100;
    color: white;
}

div .offered-at {
    /*background-color: #ffffff;*/
    color: #333;
    font-size: 15px;
    font-weight: 900;
    /*border-style: none none solid none;*/
    /*border-width: 1px;*/
    /*margin-bottom:2px;*/
}

div .online-safety-tag {
    background-color: #ababab;
}

div .age7to9 {
    background-color: var(--7-9-color);
}
div .age9to11 {
    background-color: var(--9-11-color);
}
div .age12to14 {
    background-color: var(--12-14-color);
}



/*SEASON PHOTOS*/

.track-photos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    height: 200px;
    width: 85%;
    /*background-color: var(--background-color);*/
    margin: 0px auto 0px auto;

}

.inner-photo{
    margin:auto;
    background-size: contain ;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    /*padding-left: 100px;*/
    /*padding-right: 40px;*/
    /*padding:20px;*/
}
.season-photo{
    margin:auto;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*padding: 10px;*/
}
.photo-text {
    width: 100%;
    text-align: center;
    font-size: 15px;
    font-weight: 900;
    color: #000;
    /*margin-top:7px;*/
    padding-top:5px;
    padding-bottom: 5px;
    /*text-transform: full-width;*/
    /*margin-bottom: 10px;*/
    /*background-color: var(--background-color-alphed);*/
    pointer-events: none;
}
.inner-photo:hover {
    opacity: 1;
}

.inner-photo:hover > .color-overlay {
    display:none;
}


.color-overlay {
    width: 100%;
    height: 100%;
    mix-blend-mode: color;
    pointer-events: none;
}

/*JUST ROBLOX*/

.roblox-color .inner-photo .color-overlay {
    background-color: var(--roblox-color);
}
.fortnite-color .inner-photo .color-overlay {
    background-color: var(--fortnite-color);
}

/*all images go here*/

#roblox-fall .inner-photo {
    background-image: url("img/roblox-fall-resized.png");
}
#roblox-winter .inner-photo {
    background-image: url("img/roblox-winter-resized.png");
}
#roblox-spring .inner-photo {
    background-image: url("img/roblox-spring-resized.png");
}

#hardware-fall .inner-photo {
    background-image: url("img/hardware-fall-resized.png");
}
#hardware-winter .inner-photo {
    background-image: url("img/hardware-winter-resized.png");
}
#hardware-spring .inner-photo {
    background-image: url("img/hardware-spring-resized.png");
}

#minecraft-fall .inner-photo {
    background-image: url("img/minecraft-fall-resized.png");
}
#minecraft-winter .inner-photo {
    background-image: url("img/minecraft-winter-resized.png");
}
#minecraft-spring .inner-photo {
    background-image: url("img/minecraft-spring-resized.png");
}

#fortnite-fall .inner-photo {
    background-image: url("img/fortnite-fall-resized.png");
}
#fortnite-winter .inner-photo {
    background-image: url("img/fortnite-winter-resized.png");
}
#fortnite-spring .inner-photo {
    background-image: url("img/fortnite-spring-resized.png");
}

#coding-fall .inner-photo {
    background-image: url("img/coding-fall-resized.png");
}
#coding-winter .inner-photo {
    background-image: url("img/coding-winter-resized.png");
}
#coding-spring .inner-photo {
    background-image: url("img/coding-spring-resized.png");
}

#video-fall .inner-photo {
    background-image: url("img/video-fall-resized.png");
}
#video-winter .inner-photo {
    background-image: url("img/video-winter-resized.png");
}
#video-spring .inner-photo {
    background-image: url("img/video-spring-resized.png");
}

@media screen and (max-width: 500px) {

    .track-photos {
        display: none;
    }

}

/*USE SEASON PHOTOS OR ONE PHOTO*/
.backup-title {
    display: none;
}

.track-photo {
    display: none;

}
.subway-icon {
    font-family: Helvetica;
    display: flex;
    justify-content: center;
    /*align-content: center;*/
    width: 90px;
    height: 90px;
    margin: auto;
    border-radius: 100%;
    font-size: 60px;
    background-color: rgb(255, 61, 61);
    box-shadow: var(--subway-icon-shadow);
    flex-shrink: 0;
    /*flex-grow:3;*/
    color: white;
    font-weight: 900;
    line-height: 100px;

}

.under-track-title {
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    width:100%;
    min-width: 200px;
    margin: auto;
}
.left-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-left: -30px;
    /*margin-right: 60px;*/
}

/*.track-photos {*/
/*display: none;*/
/*}*/

/*TURN OFF OVERLAYS:*/
/*EDITS AND CUSTOM*/

.full-track {
    display: none;
}
/*.season-labels {*/
/*display: none;*/
/*}*/
.color-overlay {
    display:none;
}
.options-section {
    display: none;
}
.offered-at {
    display: none;
}
.photo-text {
    display: none;
}


/*@media screen and (max-width: 950px) {*/
    /*.left-container {*/
        /*display:none;*/
    /*}*/
    /*.project-name, .project-name.mini-course {*/
        /*font-size: 80%;*/
        /*margin-top:10px;*/
        /*margin-left:10px;*/
    /*}*/
    /*.project-name.mini-course {*/
        /*font-size: 60%;*/
        /*margin-top:25px;*/
        /*margin-left:-10px;*/
    /*}*/

    /*.project-start {*/
        /*height:15px;*/
        /*width:15px;*/
        /*margin-top:4px;*/
    /*}*/
    /*.season-start {*/
        /*width: 25px;*/
        /*height: 25px;*/
        /*margin-top:6px;*/
    /*}*/
    /*.track-details {*/
        /*font-size: 90%;*/
    /*}*/
    /*.track-label-description {*/
        /*font-size: 70%;*/
    /*}*/
    /*.track-label {*/
        /*font-size:20px;*/
    /*}*/
    /*.new-track {*/
        /*margin-top:120px;*/
    /*}*/
    /*.season-labels {*/
        /*display: none;*/
    /*}*/
    /*.color-overlay {*/
        /*display:none;*/
    /*}*/
    /*.backup-title {*/
        /*display: block;*/
    /*}*/


/*}*/
/*@media screen and (max-width: 650px) {*/

    /*.tag-section  {*/
        /*display: flex;*/
        /*flex-direction: column;*/
        /*!*font-size: 14px;*!*/
        /*!*align-content: flex-start;*!*/
        /*!*justify-content: flex-start;*!*/
        /*!*width: 100%;*!*/
        /*!*!*flex-wrap: wrap;*!*!*/
        /*!*margin: auto;*!*/
        /*!*padding-bottom:4px;*!*/
        /*!*font-weight: 400;*!*/
        /*!*height: auto;*!*/
    /*}*/
    /*.options-section {*/
        /*flex-direction: column;*/
        /*!*font-size: 130%;*!*/
    /*}*/
    /*.ages-tags {*/
        /*flex-direction: column;*/
    /*}*/
    /*.location {*/
        /*margin:10px;*/
    /*}*/
    /*.track-details {*/
        /*display: none;*/
    /*}*/
    /*.track {*/
        /*display: none;*/
    /*}*/
    /*.track-name {*/
        /*width:95%;*/
        /*margin: auto;*/
        /*text-align: center;*/
    /*}*/
    /*.track-photo {*/
        /*width:95%;*/
        /*min-height:400px;*/
        /*margin:auto;*/
        /*margin-top:10px;*/
    /*}*/
    /*.track-label-description {*/
        /*font-size: 18px;*/
        /*text-align: justify;*/
    /*}*/
    /*.track-label {*/
        /*font-size:25px;*/
        /*margin: auto;*/
        /*line-height: normal;*/
    /*}*/
    /*.new-track {*/
        /*margin-top:50px;*/
    /*}*/
    /*.track-info {*/
        /*flex-direction: column;*/
        /*margin: auto;*/
    /*}*/
    /*.tag-section div {*/
        /*flex-grow: 2;*/
    /*}*/
    /*.age-section div {*/
        /*flex-grow: 2;*/
    /*}*/


    /*.inner-photo {*/
        /*background-size: contain;*/
    /*}*/
    /*.subway-icon {*/
        /*display: none;*/
    /*}*/

    /*.photo-text {*/
        /*display: none;*/
    /*}*/
/*}*/


/*BEGIN CHARTS SECTION*/

.info-charts {
    margin: auto;
    margin-top:150px;
    width:80%;

}
.price-note {
    width:80%;
    font-size:80%;
    font-weight: 100;
    text-align: center;
    margin: 30px;
    margin-left: 85px;
    margin-bottom: 50px;
}
.topics-chart {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 95%;
    margin-bottom: 20px;
}
.age-row-offerings-rows:not(.days-row) div {
    /*background-color: #efefef;*/
    border-style: none solid none none;
    border-width: 1px;
    border-color: #aaa;

}
.age-row-offerings-rows:not(.days-row) {
    /*background-color: #efefef;*/
    border-style: none none none solid ;
    border-color: #aaaaaa;
    border-width:1px;

}

.topics-chart div {
    /*border-style: solid;*/
    /*border-width: 1px;*/
    /*padding:2px;*/
    width: 100%;
}
/*.single-topic-row.days-row {*/
/*!*display: flex;*!*/
/*!*flex-direction: row;*!*/
/*!*justify-content: space-around;*!*/
/*!*align-content: space-around;*!*/
/*background-color: none;*/
/*}*/

.age-row-age {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
    border-style: none none solid none;
    border-width: 1px;
    border-color: #aaa;
}

.age-row-offerings-rows {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;

}

.single-topic-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
    /*padding:2px;*/
    margin-bottom:1px;
    /*min-height:50px;*/
    height:33%;
}
.single-topic-row.only-2 {
    height:50%;
}

/*.for7to9 > div {*/
/*background-color: var(--7-9-color);*/
/*width:100%;*/
/*}*/
/*.for9to11 .topic-offered {*/
/*background-color: var(--9-11-color);*/
/*width:100%;*/
/*}*/
/*.age-row-age-title, .days-row {*/
/*justify-items: center;*/
/*font-size: 120%;*/
/*font-weight: 200;*/
/*line-height: 140%;*/

/*}*/

@media screen and (max-width: 1000px) {

    .age-row-age-title, .days-row {
        justify-items: center;
        font-size: 100%;
        font-weight: 200;
        line-height: 100%;

    }

}


.age-row-age-title {
    margin:auto;
    max-width: 150px;

    align-self: stretch;
    justify-self: center;
    justify-items: center;
    align-items: center;
    display: flex;
    justify-content: center;
}



.days-row {
    /*margin-bottom: 10px;*/
    /*font-size: 18px;*/
}
.for7to9 .age-row-offerings-rows .single-topic-row .topic-offered {
    background-color: var(--7-9-color);

}
.for9to11 .age-row-offerings-rows .single-topic-row .topic-offered {
    background-color: var(--9-11-color);

}
.for12to14 .age-row-offerings-rows .single-topic-row .topic-offered {
    background-color: var(--12-14-color);

}

.single-topic-name {
    padding:10px;
    line-height: 19px;
    font-size:16px;
    justify-items: center;
    justify-self: center;
    margin: auto;
    font-weight: 500;
    /*flex-shrink:.2;*/
    /*border-style: solid none solid;*/
    /*border-width: 1px;*/
    /*border-color: black; !important;*/
}

.single-topic-row div:not(:first-child) {

    /*width: 100px;*/
    width:20%;

}

.day {
    margin: auto;
    /*border-style: none none none solid;*/
    border-width: 2px;
    border-color: #eee;
    height:20px;
    padding-bottom: 10px;
}

/*PRICE CHART BEGIN*/

.price-chart {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex: 2 2 200px;
    /*margin: auto;*/
    width: 70%;
    justify-content: space-between;
    text-align: center;
    padding:10px;
    line-height: 19px;
    font-size:15px;
    font-weight: 100;
    /*margin-bottom: 25px;*/

}
.price-chart div {
    /*border: solid;*/
    /*border-width: 1px;*/
    padding:2px;
}
.day-col {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    width: 100%;

}
.day-col:not(:first-of-type) {
    border-style: none none none solid;
    border-width: 1px;
    border-color: #aaa;

}
.price {
    border-style: none none none solid;
    border-width: 1px;
    border-color: #ccc;

    /*width:50%;*/
}
.number-of-days div:first-child {
    border-style: none none solid none;
    border-width: 1px;
    border-color: #ccc;

    /*width:50%;*/
}
.price div:first-child {
    border-style: none none solid none;
    border-width: 1px;
    border-color: #ccc;

    /*width:50%;*/

}
.number-of-days {
    margin: auto;
    width:50px;
}
.price {
    margin: auto;
    width:50px;

}
.subtitle-row {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 100%;
    justify-content: space-around;
}
.subtitle-row:first-of-type div {
    width:200px;
    text-align: right;
    padding-right:8px;
    font-weight: 500;
}

.season-col {
    height:300px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;

}
.season-col div {
    margin: auto;
    display: flex;
    height:30px;
}

.season-title{
    font-weight: 400;
}

.day-title-row {
    font-size: 125%;
    font-weight: 400;
}
.number-of-days div:first-child {
    font-weight: 400;
}
.price div:first-child {
    font-weight: 400;
}
.smaller-text {
    font-weight: 100;
    color: #999999;
    font-size:80%;
    text-transform: uppercase;
}
.location-header {
    font-weight: 900;
    font-size: 40px;
    text-align: left;
    font-weight: 500;
}
.header {
    font-weight: 500;
    font-size: 16px;
    text-align: justify;
    margin: auto;
    width:90%;
    background-color: #f0f0f0;
    border-style: solid;
    border-width: 1px;
    border-color: #cfcfcf;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-top: 20px;

}

.page-title {
    font-weight: 900;
    font-size: 25px;
    text-align: center;
    padding-bottom: 15px;
    color: #333;
}
.explainer-section {
    display: flex;
    /*flex-direction: row;*/
}
.explainer-copy {
    width:70%;
    font-weight: 100;
    font-size: 110%;
}

.number-of-days div:last-child {
    font-weight: 600;
}
.price div:last-child {
    font-weight: 600;
}
.screen-time-section {
    text-align: center;
    font-size:14px;
    font-weight: 100;
    display: flex;
    align-items: center;
    color: #666666;
    margin: auto;
}
.screen-time-icon {
    background: url(img/screen.svg);
    background-size: cover;
    width:22px;
    height:18px;
    margin-right:5px;
}
.screen-time-icon-most {
    background: url(img/screen-most.svg);
    background-size: cover;
    width:17px;
    height:15px;
    margin-right:5px;
}
.screen-time-icon-little {
    background: url(img/screen-little.svg);
    background-size: cover;
    width:17px;
    height:15px;
    margin-right:5px;
}
.slightly-less-line-height {
    line-height:95%;
    /*font-size: 95%;*/
    padding-bottom:5px;
}
.bolded {
    font-weight: 500;
    color: #333;
}
/*START DEMO TRACK VERTICAL CSS*/


.demo-track {
    /*margin-top:150px;*/
    width:25%;
    margin-top: 0px;
    /*padding-top: 5px;*/
}
.demo-track .track {
    /*display: flex;*/
    /*justify-content: flex-start;*/
    /*align-content: flex-start;*/
    width:70px;
    height: 300px;
    margin-top:0px;
    /*margin-left: 30px;*/

}
.demo-track .track-line {
    /*display: flex;*/
    /*justify-content: flex-start;*/
    /*align-content: center;*/
    width:6px;
    height:300px;
    border-radius: 10px;
    position: relative;
    margin-top: -13px;
}

.demo-track .season-start {
    border-radius: 100%;
    background-color: var(--season-stop-color);
    display: block;
    position: absolute;
    top:-20px;
    left:-10px;
    width: 18px;
    height: 18px;
    border: 4px solid var(--stop-outline-color);
    box-shadow: -6px -8px rgba(0, 0, 0, 0.15) inset, 0px -2px #e3e3e3;

}

.demo-track .project-start {
    width: 18px;
    height: 18px;
    border-radius: 100%;
    background-color: var(--project-stop-color);
    display: block;
    position: absolute;
    /*left:-10px;*/
    left:-8px;
    border: 2px solid var(--stop-outline-color);
    box-shadow: -6px -4px 0px rgba(0, 0, 0, 0.15) inset;

}

.demo-track .project-name {
    transform: none;
    font-size: 14px;
    white-space: nowrap;
    text-align: left;
    transform-origin: bottom;
    margin-top:0px;
    margin-left:30px;
    font-weight: 500;
    line-height: 95%;
    margin-bottom: auto;
}

.demo-track .season-name {
    font-size: 18px;
    white-space: nowrap;
    text-align: left;
    margin-top:0px;
    margin-left:30px;
    font-weight: 800;
    line-height: 95%;
    margin-bottom: auto;
    border-style: none;
}

@page {
    size: A4;
    margin: 0;
}
@media print {
    .break-page:not(.location-header) {
        page-break-before:always;
        margin-left: 0px;
        margin-right: 20px;
        margin-top: 100px;
        height:100mm;
        width: 100%;
    }
    .location-header.break-page{
        page-break-before:always;
        /*margin-left: auto;*/
        /*margin-right: 20px;*/
        /*margin-top: 100px;*/
        /*width: 210mm;*/
        /*height: 297mm;*/
    }
    .location-header {
        margin-top:100px;
    }
    .price-chart {
        margin-left:-100px;
    }
    .new-track:not(.break-page) {
        margin: auto;
        margin-left: 0px;
        margin-right: 20px;
        height:120mm;
        width: 100%;
        margin-top:50mm
    }

    .price-chart {
        /*margin-left:-100px;*/
    }
    .header {
        margin: auto;
        /*width:100%;*/
        /*height:100%;*/
        page-break-after:always;
        font-size: 24px;
        padding: 50px;
        padding-bottom:80px;
        /*margin-top: 70px;*/
        width: 210mm;
        height: 297mm;

        /*background-color: #bfebf9;*/
    }
    .demo-track .track {

        height: 900px;


    }
    .demo-track .track-line {


        height:900px;

    }
    .explainer-copy {
        width:65%;
        /*font-weight: 100;*/
    }
}


/*LIST OF DATES*/
.list-of-dates {
    display: flex;
    align-items: center;
    justify-items: center;
    width: 75%;
    margin:auto;
    margin-bottom:10px;
    border-width: 1px;
    /*border-style: solid none solid none;*/
    /*background-color: #f5f5f5;*/
    border-color: #aaa;
    padding-right: 6px;
    padding-left: 12px;

}
.list-dates-title {
    font-weight: 800;
    margin-right:10px;
    text-align: right;
    width:100px;
    align-self: stretch;
    justify-self: center;
    justify-items: center;
    align-items: center;
    display: flex;
    justify-content: center;
    padding-right: 10px;
    border-style: none solid none none;
    border-width: 1px;
    border-color: #aaa;

}
.dates-list {
    display: flex;
    margin:5px;
    align-items: center;
}
.dates-season-name {
    font-weight:500;
    margin-right:6px;
    text-align: right;
    width:50px;
    /*border-style: none solid none none;*/
    border-width: 1px;
    border-color: #aaa;
    padding-right: 6px;
}
.all-dates {
    font-size:80%;
    font-weight:200;
}
@media print {
    .all-dates {
        font-size:70%;
        font-weight:200;
    }
}

/*buttons*/

.full-track-button {
    width:90%;
    margin:auto;
}
.full-track-button Button {
    width:100%;
    margin:auto;
    padding:8px;
    height:auto;
    min-height: unset;
    box-shadow: var(--button-shadow);
    font-size:125%;
    transition: box-shadow 0s;

}

.seasons-button-container {
    width:90%;
    display: flex;
    flex-direction: row;
    margin: auto;
    /*align-items: center;*/
    /*justify-items: space-between;*/
    justify-content: space-between;
    /*height: 40px;*/
}

.season-button Button {
    width:100%;
    margin:auto;
    padding:8px;
    height:auto;
    min-height: unset;
    /*margin-left:30px;*/
    /*cursor: pointer;*/
    pointer-events: none;
    box-shadow:  var(--button-shadow);
    font-size:100%;
    transition: box-shadow 0s;

}
.season-button:hover Button {
    /*box-shadow: 2px 2px 0px rgba(0,0,0,.3);*/
    filter: brightness(1.1);
    /*--background-color: white;*/
    /*cursor: pointer;*/
}

.full-track-button:hover Button {
    /*box-shadow: 2px 2px 0px rgba(0,0,0,.3);*/
    filter: brightness(1.1);

}
.season-button:active Button {
    /*box-shadow: none;*/
    filter: brightness(.95);
    box-shadow:  var(--button-shadow-pressed);
    /*cursor: pointer;*/
}
.full-track-button:active Button {
    /*box-shadow: none;*/
    filter: brightness(.95);
    box-shadow:  var(--button-shadow-pressed);
}
.price-text-2 {
    font-weight:400;
}

.project-name {
    font-size:13px;
    color: #333;
}

.allTracks #roblox-track {
    padding-bottom:100px;
    /*padding-top:20px;*/
}

.color {
    /*filter: brightness(1.5);*/
}
.track-fade {
    /*opacity:.5;*/
}
.highlight {
    /*filter: brightness(1.5);*/
    /*background-color: var(--highlight-color);*/
    /*border-color: #545454;*/
    /*opacity:1;*/
}
.highlight .project-name {
    filter:none;
}
/*highlighting*/
#roblox-track .highlight-track-fall {
    background: linear-gradient(to right, var(--roblox-color), var(--roblox-color) 33%, var(--faded-color) 34%);
}
#roblox-track .highlight-track-winter {
    background: linear-gradient(to right, var(--faded-color), var(--faded-color) 33%, var(--roblox-color) 34%, var(--roblox-color) 66%,var(--faded-color) 67%);
}
#roblox-track .highlight-track-spring {
    background: linear-gradient(to right, var(--faded-color), var(--faded-color) 66%, var(--roblox-color) 67%);
}

#minecraft-track .highlight-track-fall {
    background: linear-gradient(to right, var(--minecraft-color), var(--minecraft-color) 33%, var(--faded-color) 34%);
}
#minecraft-track .highlight-track-winter {
    background: linear-gradient(to right, var(--faded-color), var(--faded-color) 33%, var(--minecraft-color) 34%, var(--minecraft-color) 66%,var(--faded-color) 67%);
}
#minecraft-track .highlight-track-spring {
    background: linear-gradient(to right, var(--faded-color), var(--faded-color) 66%, var(--minecraft-color) 67%);
}

#fortnite-track .highlight-track-fall {
    background: linear-gradient(to right, var(--fortnite-color), var(--fortnite-color) 33%, var(--faded-color) 34%);
}
#fortnite-track .highlight-track-winter {
    background: linear-gradient(to right, var(--faded-color), var(--faded-color) 33%, var(--fortnite-color) 34%, var(--fortnite-color) 66%,var(--faded-color) 67%);
}
#fortnite-track .highlight-track-spring {
    background: linear-gradient(to right, var(--faded-color), var(--faded-color) 66%, var(--fortnite-color) 67%);
}

#coding-track .highlight-track-fall {
    background: linear-gradient(to right, var(--coding-color), var(--coding-color) 33%, var(--faded-color) 34%);
}
#coding-track .highlight-track-winter {
    background: linear-gradient(to right, var(--faded-color), var(--faded-color) 33%, var(--coding-color) 34%, var(--coding-color) 66%,var(--faded-color) 67%);
}
#coding-track .highlight-track-spring {
    background: linear-gradient(to right, var(--faded-color), var(--faded-color) 66%, var(--coding-color) 67%);
}

#hardware-track .highlight-track-fall {
    background: linear-gradient(to right, var(--hardware-color), var(--hardware-color) 33%, var(--faded-color) 34%);
}
#hardware-track .highlight-track-winter {
    background: linear-gradient(to right, var(--faded-color), var(--faded-color) 33%, var(--hardware-color) 34%, var(--hardware-color) 66%,var(--faded-color) 67%);
}
#hardware-track .highlight-track-spring {
    background: linear-gradient(to right, var(--faded-color), var(--faded-color) 66%, var(--hardware-color) 67%);
}

#video-track .highlight-track-fall {
    background: linear-gradient(to right, var(--video-color), var(--video-color) 33%, var(--faded-color) 34%);
}
#video-track .highlight-track-winter {
    background: linear-gradient(to right, var(--faded-color), var(--faded-color) 33%, var(--video-color) 34%, var(--video-color) 66%,var(--faded-color) 67%);
}
#video-track .highlight-track-spring {
    background: linear-gradient(to right, var(--faded-color), var(--faded-color) 66%, var(--video-color) 67%);
}
.highlight-track-full {
    filter: brightness(1.1);
}
.hide-me {
    /*opacity:.2;*/
    /*filter:grayscale(100%);*/
    background-color: var(--faded-color);
    border-color: var(--faded-color);
    box-shadow: none;
    /*-webkit-transition: background-color .5s;*/
    /*-moz-transition:background-color .5s;*/
    /*-ms-transition:background-color .5s;*/
    /*-o-transition: background-color .5s;*/
    transition:background-color 0.3s, border-color 0.3s, box-shadow 1s;

    /*opacity:.8;*/
}
.hide-me .project-name{
    /*opacity:.2;*/
    color:var(--faded-color);
    /*opacity:.8;*/
}
.season-button {
    margin-top:16px;
    width:32%;
}

.allTracks #fortnite-track {
    padding-bottom:95px;

}
.allTracks #coding-track {
    padding-bottom:95px;

}
.allTracks #video-track {
    padding-bottom:95px;

}
.allTracks #minecraft-track {
    padding-bottom:95px;

}
.allTracks #hardware-track {
    padding-bottom:95px;

}


.dates-list {
    font-size: 85%;
    display: flex;
    align-content: center;
    justify-content: center;
    font-weight:400;
    color: white;
    text-align: center;
    position: fixed;
    bottom:-40px;
    left:0;
    margin:auto;
    width:65%;

    /*background-color: var(--background-color);*/
    background-color: #525252;
    z-index: 200;
    /*display: none;*/
    /*padding-top:10px;*/
    /*padding-bottom:10px;*/
    height:40px;
    /*margin-left:-75px;*/
    /*margin-left:-5%;*/
    box-shadow: var(--floating-shadow);
    transition: bottom 1s;
    padding-top:5px;



}
.dates-list span {
    display: inline;
    margin:5px;
    line-height: 110%;
}
.hide-dates {
    color: #858585;
    transition: color 0.25s;


}
.first-track:hover .dates-list{
    /*display: flex;*/
    bottom:0px;
    /*transition: bottom .25s;*/


}
.new-track:hover .dates-list{
    /*display: flex;*/
    bottom:0px;
    /*transition: bottom .25s;*/

}

.dates-preface {
    font-weight:400;
    font-size:120%;
    /*color: #333;*/
}
div:not(.track-line) {
    transition:background-color 0.25s, border-color 0.25s, box-shadow 1s;

}
.price-btn-type {
    font-weight: 100;
    font-size:70%;
}
.number-of-weeks {
    font-weight: 100;
    font-size:70%;
}
.actual-price-text {
    font-size:155%;
}
.button-price-container {
    display: flex;
    align-content: center;
    justify-content: center;
    /*width: 75%;*/
}
.button-left-container {
    font-size:70%;
    line-height: 110%;
    margin:auto;
    padding-right: 10px;
    /*margin-bottom:-3px;*/
    /*margin-right:10px;*/
    /*width:45%;*/
}
.button-left-container div:first-child {
    font-weight: 200;
    font-size: 110%;
}
.button-right-container {
    font-size:150%;
    margin:auto;
    text-align: left;
    border-style: none none none solid;
    border-width:1px;
    border-color: rgba(255,255,255,.4);
    padding-left:10px;
    margin-top:0px;
    margin-bottom:0px;
    /*align-content: center;*/
    display: flex;
    align-content:center;
    /*height:100%;*/
    /*width:55%;*/
    /*padding-left:10px;*/
}
.button-right-container div {
    margin:auto;
}
.button-right-container div:nth-child(2) {
    font-size:65%;
    line-height: 110%;
    margin:auto;
    margin-top:1px;
    margin-left: 10px;
    padding-left:10px;
    font-style: italic;
    border-style: none none none solid;
    border-width:1px;
    border-color: rgba(255,255,255,.4);
    font-weight:200;
}
.inner-photo {
    /*filter: drop-shadow(6px 6px 2px rgba(0,0,0,0.1));*/
}
.list-of-skills .age7to9 {
    display: none;
}
.list-of-skills .age9to11 {
    display: none;
}
.list-of-skills .age12to14 {
    display: none;
}
.in-cart-2 {
    filter: brightness(80%);
    /*opacity: .5;*/
    box-shadow: none;
    pointer-events: none;
    height:100%;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    /*font-size:120%;*/
    /*color: #666;*/

    /*line-height: 200%;*/
}
.in-cart-2 Button{
    box-shadow: var(--button-shadow-selected);
    /*padding-top:13px;*/
    /*padding-bottom:13px;*/
    height:100%;
    /*height: 100%;*/
    min-height: 38px;
}
.tip-class {
    font-size:20px;
}